//flex, typography mixins
@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin typography($font, $size, $weight, $color, $spacing: 0) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  letter-spacing: $spacing;
}

//Breakpoints

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
