//colors, fonts, spacings, breakpoints, etc.

//fonts

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$font-primary: "Fraunces", serif;
$font-secondary: "Montserrat", sans-serif;
$font-big: 3.2rem;
$font-mid: 2rem;
$font-small: 1rem;
$line-height: 2rem;

//colors

$bg-color: #f3eae3;
$card-color: #fff;
$card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$heading-color: #1a2129;
$text-color: #8590a3;
$button-color: #3a8368;
$button-hover-color: #1b3f31;

//spacings

$border-radius: 1rem;
$padding: 3rem;
$button-padding: 15px 20px;
$button-border-radius: 10px;
$transition: 0.3s;
$margin-top: 2rem;
