@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  color: $text-color;
  min-height: 100vh;
  @include flex(column, center, center);
  @include mobile {
    padding: 2rem;
  }
  padding: $padding;
}

main.card {
  background-color: $card-color;
  box-shadow: $card-shadow;
  border-radius: $border-radius;
  max-width: 60rem;
  width: 100%;

  @include flex(row, space-between, center);
  @include mobile {
    flex-direction: column;
    max-width: 34rem;
  }
}

section.left {
  width: 50%;

  @include mobile {
    width: 100%;
    height: 24rem;
    overflow: hidden; // Border-radius için gerekli
    border-radius: $border-radius $border-radius 0 0; // Container'a da border-radius ekle
  }

  img {
    border-radius: $border-radius 0 0 $border-radius;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    @include mobile {
      transform: scale(1.2); // 1.5 çok büyüktü, azalttım
      transform-origin: 50% 40%; // Zoom merkezini ayarla
      border-radius: $border-radius $border-radius 0 0;
    }
  }
}
section.right {
  @include mobile {
    padding: 2rem;
    width: 100%;
    gap: 1rem;
  }
  width: 50%;
  padding: $padding;
  @include flex(column, center, start);
  gap: 2rem;
  h1 {
    @include typography($font-primary, $font-big, 900, $heading-color);
    color: $heading-color;
  }

  h2 {
    @include typography($font-secondary, $font-small, 600, $text-color, 0.7rem);
    @include mobile {
      font-size: $font-small;
    }
    text-transform: uppercase;
    color: $text-color;
  }

  p {
    @include typography($font-secondary, 1.2rem, 500, $text-color, 0.1rem);
    line-height: 2rem;
    @include mobile {
      font-size: $font-small;
      line-height: $line-height;
    }
  }

  .price {
    @include flex(row, start, center);

    &__discounted {
      @include typography($font-primary, 3rem, 700, $button-color);
      margin-right: 2rem;
      @include mobile {
        font-size: 2.5rem;
      }
    }

    &__original {
      @include typography($font-primary, 1.5rem, 300, $text-color);
      text-decoration: line-through;
      align-self: inherit;
      @include mobile {
        font-size: 1.2rem;
      }
    }
  }

  button {
    @include typography($font-secondary, 1.4rem, 700, $card-color);
    @include mobile {
      font-size: 1.2rem;
    }
    line-height: 2rem;
    padding: $button-padding;
    border-radius: $button-border-radius;
    background-color: $button-color;
    transition: $transition;
    width: 100%;
    border: none;

    &:hover {
      background-color: $button-hover-color;
    }

    & img {
      width: 1.5rem;
      vertical-align: middle;
      margin-right: 1rem;
      margin-left: 0.5rem;
      @include mobile {
        width: 1.3rem;
      }
    }
  }
}
